{
  "presets": ["env", "react"],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "tests.webpack.js",
            "**/*.test.js"
          ]
        }],
        "rewire"
      ]
    }
  }
}
